ZYSocket/Android/P2PCLIENT/bin/Debug/P2PCLIENT.dll
ZYSocket/Android/P2PCLIENT/bin/Debug/P2PCLIENT.dll.mdb
*.pdb
*.dll
*.mdb
*.cache
*.txt
*.exe
*.stamp
*.class
ZYSocket/Demo1.1/TestClient/bin/Debug/TestClient.exe.config
ZYSocket/TalkRPC/Server/bin/Debug/Server.exe.config